create database if not exists `{{{dbName}}}` character set utf8mb4 collate utf8mb4_unicode_ci;

use `{{{dbName}}}`;
{{!-- Generate create table statements... --}}
{{#each tables as |table tableId|}}

/* Table for {{{table.pluralDescription}}} */
create table if not exists `{{{table.tableName}}}`(
{{#each table.columns as |column columnId|}}
  `{{{column.columnName}}}` {{{call ../../generator 'getDataType' column}}}{{#if column.isOptional}} null{{else}} not null{{/if}}{{#if column.hasDefaultValue}} default {{{column.defaultValue}}}{{/if}}{{#if column.description}} comment '{{{call ../../generator 'escape' column.description}}}'{{/if}},
{{/each}}
{{#each table.checks as |check checkId|}}
  constraint `{{{check.constraintName}}}` check ('{{{call ../../generator 'escape' check.checkCode}}}'),
{{/each}}
{{#each table.uniqueKeys as |uniqueKey uniqueKeyId|}}
  constraint `{{{uniqueKey.constraintName}}}` unique key ({{#each uniqueKey.columns as |column columnId|}}{{#unless @first}}, {{/unless}}`{{{column.columnName}}}`{{#if (gt column.length 191)}}(191){{/if}}{{/each}}),
{{/each}}
{{#each table.foreignKeys as |foreignKey foreignKeyId|}}
  constraint `{{{foreignKey.constraintName}}}` foreign key ({{#each foreignKey.columns as |column columnId|}}{{#unless @first}}, {{/unless}}`{{{column.columnName}}}`{{/each}}) references `{{{foreignKey.referencedTableName}}}`({{#each foreignKey.columns as |column columnId|}}{{#unless @first}}, {{/unless}}`{{{column.referencedColumnName}}}`{{/each}}),
{{/each}}
  constraint `{{{table.primaryKey.constraintName}}}` primary key ({{#each table.primaryKey.columns as |column columnId|}}{{#unless @first}}, {{/unless}}`{{{column.columnName}}}`{{/each}}))
  comment '{{{table.pluralDescription}}}';
{{/each}}
