use `{{{dbName}}}`;

{{!-- Generate insert statements... --}}
{{#each tableContents as |tableContent tableContentId|}}
/* Table for {{{tableContent.tableDefinition.pluralDescription}}} */

{{#each tableContent.rows as |row rowId|}}
insert into `{{{row.tableDefinition.tableName}}}`({{#each row.columnDefinitions as |columnDefinition columnDefinitionId|}}{{#unless @first}}, {{/unless}}`{{{columnDefinition.columnName}}}`{{/each}})
values ({{#each row.cells as |cell cellId|}}{{#unless @first}}, {{/unless}}{{{call ../../../generator 'getData' cell}}}{{/each}});

{{/each}}
{{/each}}
