/*******************************************************************************
* Fonts
*******************************************************************************/

@font-face {
  font-family: 'UnifrakturCook';
  font-style: normal;
  font-weight: 700;
  src: local('UnifrakturCook'), local('UnifrakturCook-Bold'), url(../fonts/UnifrakturCook-Latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url(../fonts/Merriweather-Latin-Ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url(../fonts/Merriweather-Latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*******************************************************************************
* Basic Settings
*******************************************************************************/

html.vm-html {
  font-family: 'Merriweather', serif;
  font-size: 12px;
}

@media only screen and (max-width: 1281px) {
  html.vm-html {
    font-size: 12px;
  }
}

html.vm-html > body {
  font-family: inherit;
  font-size: inherit;
  margin: 0rem;
  padding: 0rem;
  height: 100%;
  width: 100%;
}

header#vm-header,
main.vm-main,
footer#vm-footer {
  z-index: -99;
  left: 0px;
  right: 0px;
  position: fixed;
}

header#vm-header,
footer#vm-footer {
  color: white;
  background-color: black;
  overflow: hidden;
}

header#vm-header {
  margin-left: 45px;
  height: 45px;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row;
  /* justify-content: center; */
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

header#vm-header > span.vm-name {
  margin-right: auto;
}

header#vm-header > span.vm-name > span:nth-child(1) {
  padding-left: 3rem;
  font-family: 'UnifrakturCook', serif;
  font-weight: normal;
  font-size: 2.25rem;
  text-shadow: 0 0 2.5rem white;
  color: red;
  vertical-align: middle;
}

header#vm-header > span.vm-name > span:nth-child(2) {
  font-family: 'Merriweather';
  font-size: 1.25rem;
  color: white;
  vertical-align: middle;
}

@media only screen and (max-width: 961px) {
  header#vm-header > span.vm-name > span:nth-child(1) {
    padding: 0;
  }
}

@media only screen and (max-width: 961px) {
  header#vm-header > span.vm-name > span:nth-child(2) {
    display: none;
  }
}

header#vm-header img.vm-basket {
  height: 45px;
}

header#vm-header > a {
  font-family: 'Merriweather', serif;
  font-size: 1.25rem;
  color: white;
  text-decoration: underline;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 0.25rem;
  display: inline-block;
}

header#vm-header a:hover {
  color: red;
  text-decoration: underline;
}

main.vm-main {
  top: 45px;
  bottom: 0rem;
  width: calc(100% - 10rem);
  padding-left: 5rem;
  padding-right: 5rem;
  overflow: auto;
  background-color: black;
  color: white;
}

main.vm-main > a {
  font-family: 'Merriweather', serif;
  font-size: 1.25rem;
  color: white;
  text-decoration: underline;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 0.25rem;
  display: inline-block;
}

main.vm-main > a:visited {
  color: white;
}

main.vm-main > a:hover {
  color: red;
  text-decoration: underline;
}

@media only screen and (max-width: 1281px) {
  main.vm-main {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

footer#vm-footer {
  height: 0rem;
  bottom: 0rem;
  text-align: center;
}

.vm-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*******************************************************************************
* Menu
*******************************************************************************/

nav#vm-menu {
  top: 0rem;
  padding-top: 0rem;
  left: 0;
  height: 45px;
  width: 45px;
  position: fixed;
  z-index: 1;
  background-color: hsl(0, 70%, 20%);
  overflow-x: hidden;
  overflow: hidden;
}

nav#vm-menu.vm-nojs:hover,
nav#vm-menu.vm-js.vm-clicked {
  width: 330px;
  height: 100%;
}

nav#vm-menu ul {
  list-style: none;
  padding-top: 0rem;
  padding-left: 2rem;
  padding-bottom: 0rem;
  padding-right: 2rem;
}

nav#vm-menu ul ul {
  overflow: hidden;
  max-height: 0;
}

nav#vm-menu.vm-nojs ul li:hover ul,
nav#vm-menu.vm-js ul li.vm-clicked ul {
  max-height: 100%;
}

nav#vm-menu.vm-nojs ul li.vm-submenu:hover,
nav#vm-menu.vm-js ul li.vm-submenu.vm-clicked {
  background-color: hsl(0, 70%, 15%);
}

nav#vm-menu.vm-nojs ul li.vm-submenu:hover > a,
nav#vm-menu.vm-js ul li.vm-submenu.vm-clicked > a {
  text-decoration: underline;
}

nav#vm-menu > ul li > a {
  font-family: 'Merriweather', serif;
  font-size: 1.25rem;
  margin: 0.2rem;
  padding: 0.5rem;
  color: white;
  display: inline-block;
  text-decoration-line: none;
  text-decoration-style: solid;
  border-radius: 0.25rem;
  border-width: 1px;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

nav#vm-menu.vm-nojs > ul li:not(.vm-submenu) > a,
nav#vm-menu.vm-js > ul li > a {
  cursor: pointer;
}

nav#vm-menu.vm-js ul li > a {
  display: none;
}

nav#vm-menu.vm-js.vm-clicked ul li > a {
  display: inline-block;
}

nav#vm-menu.vm-nojs ul li:not(.vm-submenu) > a:hover,
nav#vm-menu.vm-js ul li > a:hover {
  background-color: hsl(0, 70%, 40%);
  color: white;
  text-decoration-color: white;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

/*******************************************************************************
* Menu Icon ("Burger-Menu")
*******************************************************************************/

div#vm-menu-icon {
  display: inline-block;
  background-color: transparent;
  height: 35px;
  width: 35px;
  padding: 0rem;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

#vm-menu-icon-background {
  height: 5rem;
  background-color: black;
}

.vm-js.vm-clicked #vm-menu-icon-background,
.vm-nojs:hover #vm-menu-icon-background {
  background-color: hsl(0, 70%, 20%);
}

.vm-js div#vm-menu-icon {
  cursor: pointer;
}

nav#vm-menu div#vm-menu-icon:hover > div,
nav#vm-menu.vm-clicked div#vm-menu-icon:hover > div:nth-child(2) {
  background-color: red;
  border-color: red;
}

nav#vm-menu.vm-clicked div#vm-menu-icon:hover > div:nth-child(1),
nav#vm-menu.vm-clicked div#vm-menu-icon:hover > div:nth-child(3) {
  background-color: white;
  border-color: white;
}

div#vm-menu-icon > div {
  border-style: solid;
  background-color: white;
  border-color: white;
  border-radius: 2.5px;
  border-width: 2px;
  width: 1px;
  position: relative;
  width: calc(100% - 5px);
  height: 0px;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  padding: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.vm-js div#vm-menu-icon > div:nth-child(1),
.vm-js div#vm-menu-icon > div:nth-child(3) {
  z-index: 1;
}

.vm-nojs:hover div#vm-menu-icon * {
  opacity: 0;
}

.vm-js.vm-clicked div#vm-menu-icon > div:nth-child(1) {
  transform: rotate(45deg) translate(7px, 7px);
  -webkit-transform: rotate(45deg) translate(7px, 7px);
}

.vm-js.vm-clicked div#vm-menu-icon > div:nth-child(2) {
  transform: translate(0px, -15px);
  -webkit-transform: translate(0px, -15px);
  height: 31px;
  background-color: hsl(0, 70%, 40%);
  border-color: hsl(0, 70%, 40%);
}

.vm-js.vm-clicked div#vm-menu-icon > div:nth-child(3) {
  transform: rotate(-45deg) translate(28px, -28px);
  -webkit-transform: rotate(-45deg) translate(28px, -28px);
}

/*******************************************************************************
* Colors
*******************************************************************************/

.vm-primary {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: white;
  background-color: hsl(0, 70%, 40%);
  background-image: linear-gradient(to bottom, hsl(0, 70%, 60%), hsl(0, 70%, 40%));
  border-color: hsl(0, 70%, 50%) hsl(0, 70%, 40%) hsl(0, 70%, 30%) hsl(0, 70%, 40%);
}

.vm-primary:hover {
  color: white;
  background-image: linear-gradient(to bottom, hsl(0, 70%, 50%), hsl(0, 70%, 30%));
  border-color: hsl(0, 70%, 40%) hsl(0, 70%, 30%) hsl(0, 70%, 20%) hsl(0, 70%, 30%);
}

.vm-secondary {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: black;
  background-image: linear-gradient(to bottom, hsl(0, 0%, 100%), hsl(0, 0%, 80%));
  border-color: hsl(0, 0%, 90%) hsl(0, 0%, 80%) hsl(0, 0%, 70%) hsl(0, 0%, 80%);
}

.vm-secondary.vm-disabled {
  color: darkgrey;
}

.vm-secondary:hover {
  color: black;
  background-image: linear-gradient(to bottom, hsl(0, 0%, 90%), hsl(0, 0%, 70%));
  border-color: hsl(0, 0%, 80%) hsl(0, 0%, 70%) hsl(0, 0%, 60%) hsl(0, 0%, 70%);
}

/*******************************************************************************
* Controls
*******************************************************************************/

label:not(.vm-form-label) {
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}

.vm-container input,
.vm-container button,
.vm-container select,
.vm-container optgroup,
.vm-container textarea {
  border-style: solid;
  border-width: 1px;
}

.vm-container label,
.vm-container input,
.vm-container button,
.vm-container select,
.vm-container optgroup,
.vm-container textarea {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 0.25rem;
  line-height: 1.5;
  font-family: inherit;
  font-size: inherit;
}

.vm-container input:invalid {
  color: red;
}

.vm-container input[type=submit],
.vm-container button,
.vm-container select {
  cursor: pointer;
}

.vm-html ::-moz-selection {
  color: white;
  background: darkred;
}

.vm-html ::selection {
  color: white;
  background: darkred;
}

.vm-container ::placeholder {
  color: #888888;
}

.vm-container ::-webkit-input-placeholder {
  color: #888888;
}

.vm-container ::-ms-input-placeholder {
  color: #888888;
}

.vm-container .vm-button {
  font-family: 'Merriweather', serif;
  font-size: 1.25rem;
  border-style: solid;
  border-radius: 0.5rem;
  border-width: 1px;
  box-shadow: 0.25rem 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.8);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-decoration: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.vm-container .vm-button.vm-disabled {
  pointer-events: none;
  box-shadow: none;
}

.vm-container .vm-button:hover {
  text-decoration: none;
}

.vm-container .vm-button:focus {
  box-shadow: 0.25rem 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.8), 0 0 0 0.2rem hsl(0, 70%, 50%);
  outline-width: 0px;
}

.vm-form-message {
  margin: 0.5rem;
  padding: 0.5rem;
  border-style: solid;
  border-width: 3px;
  border-color: hsl(0, 70%, 50%);
  border-radius: 0.5rem;
  background-color: hsl(0, 70%, 40%);
  color: white;
  box-shadow: 0 0 0 0.2rem hsl(0, 70%, 50%);
}

.vm-form-message:empty {
  display: none;
}

.vm-form-group {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-flow: wrap;
  flex-flow: wrap;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.vm-form-group:hover {
  background-color: hsl(0, 0%, 75%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.vm-form-label {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: calc(20% - 0.5rem);
  padding-top: calc(0.5rem + 1px);
  padding-bottom: calc(0.5rem + 1px);
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  margin: 0;
  font-size: inherit;
  line-height: 1.5;
}

.vm-form-content {
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
}

@media only screen and (max-width: 961px) {
  .vm-form-group {
    justify-content: left;
  }

  .vm-form-label, .vm-form-content {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}

.vm-form-content > .vm-form-control:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.vm-form-content > .vm-form-control:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.vm-form-control {
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5) inset;
  display: block;
  width: calc(100% - 1rem - 2px);
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  margin: 0rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 0.25rem;
  line-height: 1.5;
  font-family: inherit;
  font-size: inherit;
  border-color: hsl(0, 0%, 75%);
  border-style: solid;
  border-width: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.vm-form-control:focus {
  border-color: hsl(0, 21%, 30%);
  box-shadow: 0 0 0 0.2rem hsl(0, 70%, 50%);
  outline-width: 0px;
}

/*******************************************************************************
* Containers
*******************************************************************************/

/* Class "vm-container" is used for fieldsets (in forms). */
.vm-container {
  margin: 0.5rem;
  padding: 0.5rem;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 0.5rem;
  background-color: lightgray;
  color: black;
  border-style: solid;
}

main.vm-main .vm-container a.vm-button {
  display: inline-block;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 0.25rem;
  font-family: 'Merriweather', serif;
  font-size: 1.25rem;
}

main.vm-main .vm-container a:not(.vm-button) {
  color: black;
}

main.vm-main .vm-container a:not(.vm-button):hover {
  color: hsl(0, 70%, 50%);
}

.vm-container > .vm-container-label {
  text-decoration: underline;
  font-family: 'Merriweather', serif;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.25rem;
  color: black;
  background-color: lightgray;
  border-color: lightgray;
  border-radius: 0.25rem;
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.vm-container.vm-doc img,
.vm-container form img {
  max-width: 100%;
}

/* Class "vm-list-products" is used for listing objects (products,  orders, ...). */
ul.vm-list-products,
ul.vm-list-basket {
  margin: 0rem;
  padding: 0rem;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 0.5rem;
  background-color: lightgray;
  color: black;
  list-style: none;
  font-weight: bold;
  font-size: 1.25rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: left;
  align-items: stretch;
}

ul.vm-list-products > li {
  border-width: 0px;
  -webkit-box-flex: 0 0 33%;
  -ms-flex: 0 0 33%;
  flex: 0 0 33%;
}

@media only screen and (max-width: 1281px) {
  ul.vm-list-products > li {
    -webkit-box-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}

@media only screen and (max-width: 961px) {
  ul.vm-list-products > li {
    -webkit-box-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}

ul.vm-list-products > li > a {
  display: block;
  margin: 0.5rem;
  padding: 0.5rem;
  outline: none;
  border-width: 0px;
  background-color: white;
  color: black;
  font-family: 'Merriweather', serif;
  font-size: 1.25rem;
  text-decoration: none;
  height: calc(100% - 2rem);
  -webkit-transition: all .2s cubic-bezier(0.565,1.65,0.765,0.88);
  transition: all .2s cubic-bezier(0.565,1.65,0.765,0.88);
}

ul.vm-list-products > li > a:focus {
  outline-style: solid;
  outline-color: hsl(0, 70%, 50%);
  outline-width: 0.25rem;
}

ul.vm-list-products > li > a:hover {
  z-index: 10;
  text-decoration: none;
  transform: scale(1.1);
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.8);
}

ul.vm-list-products > li > a > figure {
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

ul.vm-list-products > li > a > figure > figcaption {
  width: 100%;
  text-align: center;
  align-self: flex-end;
  color: black;
}

ul.vm-list-products > li > a:hover > figure > figcaption {
  color: hsl(0, 70%, 50%);
}

ul.vm-list-products img {
  margin: auto;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.vm-container.vm-product img {
  max-width: 100%;
  height: auto;
}

.vm-container.vm-product.vm-flexparent {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  width: 100%;
}
.vm-container.vm-product .vm-flexchild {
  max-width: 50%;
  min-width: 50%;
  flex-shrink: inherit;
  flex-wrap: wrap;
}

.vm-container.vm-product table {
  width: 100%;
  font-size: 1.25rem;
  border-spacing: 10px;
  font-weight: bold;
}

.vm-container.vm-product table tr td {
  width: 50%;
}

ul.vm-list-basket li {
  flex: 0 0 100%;
  font-weight: normal;
}

ul.vm-list-basket li .vm-button {
  margin-right: 0.5rem;
}

ul.vm-list-basket li input[type=number] {
  width: 4rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 0.25rem;
  line-height: 1.5;
  font-family: inherit;
  font-size: inherit;
  border-color: hsl(0, 0%, 75%);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5) inset;
}

ul.vm-list-basket li input[type=number]:focus {
  border-color: hsl(0, 21%, 30%);
  box-shadow: 0 0 0 0.2rem hsl(0, 70%, 50%);
  outline-width: 0px;
}
